<div class="col-md-12" ng-controller="EditstoryCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="story.Title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="story.Description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" ng-model="story.Content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Group</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="story.Group" ng-options="group.Name for group in groups">
                    <option value="">-- Choose group --</option>
                </select>
            </div>
        </div>
        <div class="form-group pull-right">
            <button class="btn btn-primary" ng-click="EditStory()">Save</button>
            <button class="btn btn-primary" ng-click="CancelStory()">Cancel</button>
        </div>
    </form>

</div>
